
/* -------------------------------------------------------------------------
 * COLORS STATE
 *
 * Define all state colors
 * The values here are for sample proposes, consider add your owns
 *
 */


// Main state colors

$f-color__state-success:                  #24bb3d !default;
$f-color__state-info:                     #20a0de !default;
$f-color__state-warning:                  #f5a623 !default;
$f-color__state-danger:                   #ff0000 !default;

// Success shades

$f-color__state-success--ultra-light:     #f4fbf5 !default;
$f-color__state-success--light:           #bdeac4 !default;
$f-color__state-success--semi-light:      #65cf77 !default;

$f-color__state-success--semi-dark:       #1c9530 !default;
$f-color__state-success--dark:            #157024 !default;

// Info shades

$f-color__state-info--ultra-light:        mix(#fff, $f-color__state-info, 93%) !default;
$f-color__state-info--light:              lighten($f-color__state-info, 10%) !default;
$f-color__state-info--semi-light:         lighten($f-color__state-info, 5%) !default;

$f-color__state-info--semi-dark:          darken($f-color__state-info, 5%) !default;
$f-color__state-info--dark:               darken($f-color__state-info, 15%) !default;

// Warning shades

$f-color__state-warning--ultra-light:     #fef6e9 !default;
$f-color__state-warning--light:           #fce4bd !default;
$f-color__state-warning--semi-light:      #f8c065 !default;

$f-color__state-warning--semi-dark:       #e08c02 !default;
$f-color__state-warning--dark:            #ca7d00 !default;

// Danger shades

$f-color__state-danger--ultra-light:      #fff2f2 !default;
$f-color__state-danger--light:            #ffb2b2 !default;
$f-color__state-danger--semi-light:       #ff4c4c !default;

$f-color__state-danger--semi-dark:        #e21814 !default;
$f-color__state-danger--dark:             #c50202 !default;