
/* -------------------------------------------------------------------------
 * COLORS BRAND
 *
 * Define brand colors and its priorities
 * The values here are for sample proposes, consider add your owns
 *
 */


// Main brand colors

$f-color__brand-primary:                  #22577e !default;

// Primary shades

$f-color__brand-primary--ultra-light:     #b3d9ff !default;
$f-color__brand-primary--light:           #4da6ff !default;
$f-color__brand-primary--semi-light:      #0073e6 !default;

$f-color__brand-primary--semi-dark:       #005ab3 !default;
$f-color__brand-primary--dark:            #004080 !default;